# Copy to .env and fill in real values before building the APK.
EXPO_PUBLIC_API_URL=https://farmervision-backend.onrender.com
EXPO_PUBLIC_AI_API_URL=http://34.93.236.19:8000
EXPO_PUBLIC_AI_API_KEY=1f4k0l9ayGEey9es5_-jNILS7aFYtSGEg-GIuu5FNJA